@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'Pkmn';
    src: url('../assets/fonts/pkmn_frlg.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    height: min-content;
}

#root {
    display: flex;
    justify-content: center;
}

body {
    background-image: url("../assets/body_bg.png");
}

.main-content {
    height: 100%;
    width: 70%;
    background-color: white;
}

.main-header {
    display: flex;
    padding: 20px 100px;
    border-bottom: 5px solid black;
}

.main-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.nav-list-separator {
    width: 1px;
    background-color: black;
}

.nav-list a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman';
    font-size: 1.2rem;
}

.poke-company-logo {
    height: 40px;
}

.pokemon-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.pokemon-search-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pokemon-search-form-box {
    width: 400px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.10);
}

.region-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px 0px;
    padding: 0px 50px;
    justify-content: center;
}

.region-nav-list a {
    color: black;
    text-decoration: none;
}

.pokedex-bg-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-image: url("../assets/firered_intro.gif");
    filter: grayscale(20%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.pokedex-bg-container h1 {
    position: absolute;
    top: 80%;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.55);
}

.pokedex-bg-invisible {
    height: 400px;
    width: auto;
    visibility: hidden;
}

.pokedex-bg-border {
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(226, 226, 226, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.pokemon-grid {
    display: grid;
    place-items: center;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    padding: 50px 50px 0px 50px;
}

.pokemon-grid-container {
    height: 100%;
}

.loading-animation-container {
    display: grid;
    place-items: center;
    height: 50px;
    margin: 10px 0px;
}

.loading-animation {
    height: inherit;
}

.observer {
    position: absolute;
    height: 10px;
    pointer-events: none;
    border: 1px solid transparent;
}

/* CARD STYLE */

.pokemon-card-list {
    height: 100%;
    width: min(315px, 100%);
    aspect-ratio: 21/25;
}

.pokemon-card {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    background-image: url("../assets/grass_wallpaper.jpg");
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}

.pokemon-card:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.05);
    transition: all 0.15s ease-out;
}

.pokemon-card img {
    object-fit: contain;
    height: 50%;
    width: auto;
}

.pokemon-types {
    display: flex;
    gap: 10px;
}

.pokemon-name {
    display: flex;
    font-weight: bold;
}

.pokemon-number {
    margin-left: auto;
    color: rgb(94, 94, 94);
}

.pokemon-description {
    font-style: italic;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    height: 40%;
    border-width: 1px 0px;
    border-style: solid;
}

.pokemon-type {
    padding: 4px;
    text-transform: uppercase;
    font-family: 'Pkmn';
    font-size: 0.65rem;
    font-weight: bold;
    color: white;
    box-shadow: 4px 4px 2px -2px gray;
    text-shadow: 2px 2px rgb(70, 70, 70);
}

/* hsl(300, 46%, 76%) */
.type-fairy {
    background: linear-gradient(90deg, hsl(300, 46%, 90%) 0%, hsl(300, 46%, 50%) 100%);
}

/* hsl(240, 20%, 77%) */
.type-steel {
    background: linear-gradient(90deg, hsl(240, 20%, 80%) 0%, hsl(240, 20%, 40%) 100%);
}

/* hsl(24, 22%, 36%) */
.type-dark {
    background: linear-gradient(90deg, hsl(24, 22%, 80%) 0%, hsl(24, 22%, 40%) 100%);
}

/* hsl(258, 93%, 60%) */
.type-dragon {
    background: linear-gradient(90deg, hsl(258, 93%, 80%) 0%, hsl(258, 93%, 40%) 100%);
}

/* hsl(262, 27%, 47%) */
.type-ghost {
    background: linear-gradient(90deg, hsl(262, 27%, 80%) 0%, hsl(262, 27%, 40%) 100%);
}

/* hsl(49, 53%, 47%) */
.type-rock {
    background: linear-gradient(90deg, hsl(49, 53%, 80%) 0%, hsl(49, 53%, 40%) 100%);
}

/* hsl(66, 70%, 42%) */
.type-bug {
    background: linear-gradient(90deg, hsl(66, 70%, 80%) 0%, hsl(66, 70%, 40%) 100%);
}

/* hsl(342, 92%, 66%) */
.type-psychic {
    background: linear-gradient(90deg, hsl(342, 92%, 80%) 0%, hsl(342, 92%, 40%) 100%);
}

/* hsl(255, 76%, 75%) */
.type-flying {
    background: linear-gradient(90deg, hsl(255, 76%, 80%) 0%, hsl(255, 76%, 40%) 100%);
}

/* hsl(44, 66%, 64%) */
.type-ground {
    background: linear-gradient(90deg, hsl(44, 66%, 80%) 0%, hsl(44, 66%, 40%) 100%);
}

/* hsl(300, 43%, 44%) */
.type-poison {
    background: linear-gradient(90deg, hsl(300, 43%, 80%) 0%, hsl(300, 43%, 20%) 100%);
}

/* hsl(3, 66%, 45%) */
.type-fighting {
    background: linear-gradient(90deg, hsl(3, 66%, 80%) 0%, hsl(3, 66%, 40%) 100%);
}

/* hsl(180, 45%, 72%) */
.type-ice {
    background: linear-gradient(90deg, hsl(180, 45%, 80%) 0%, hsl(180, 45%, 40%) 100%);
}

/* hsl(100, 52%, 55%) */
.type-grass {
    background: linear-gradient(90deg, hsl(100, 52%, 80%) 0%, hsl(100, 52%, 30%) 100%);
}

/* hsl(48, 93%, 58%) */
.type-electric {
    background: linear-gradient(90deg, hsl(48, 93%, 80%) 0%, hsl(48, 93%, 40%) 100%);
}

/* hsl(222, 82%, 67%) */
.type-water {
    background: linear-gradient(90deg, hsl(222, 82%, 80%) 0%, hsl(222, 82%, 40%) 100%);
}

/* hsl(25, 86%, 56%) */
.type-fire {
    background: linear-gradient(90deg, hsl(25, 86%, 80%) 0%, hsl(25, 86%, 50%) 100%);
}

/* hsl(60, 22%, 56%) */
.type-normal {
    background: linear-gradient(90deg, hsl(60, 22%, 80%) 0%, hsl(60, 22%, 40%) 100%);
}

.pokemon-card.type-fairy {
    background-image: url("../assets/fairy_wallpaper.jpg");
}

.pokemon-card.type-steel {
    background-image: url("../assets/steel_wallpaper.jpg");
}

.pokemon-card.type-dark {
    background-image: url("../assets/dark_wallpaper.jpg");
}

.pokemon-card.type-dragon {
    background-image: url("../assets/dragon_wallpaper.jpg");
}

.pokemon-card.type-ghost {
    background-image: url("../assets/ghost_wallpaper.jpg");
}

.pokemon-card.type-rock {
    background-image: url("../assets/rock_wallpaper.jpg");
}

.pokemon-card.type-bug {
    background-image: url("../assets/bug_wallpaper.jpg");
}

.pokemon-card.type-psychic {
    background-image: url("../assets/psychic_wallpaper.jpg");
}

.pokemon-card.type-flying {
    background-image: url("../assets/flying_wallpaper.jpg");
}

.pokemon-card.type-ground {
    background-image: url("../assets/ground_wallpaper.jpg");
}

.pokemon-card.type-poison {
    background-image: url("../assets/poison_wallpaper.jpg");
}

.pokemon-card.type-fighting {
    background-image: url("../assets/fighting_wallpaper.jpg");
}

.pokemon-card.type-ice {
    background-image: url("../assets/ice_wallpaper.jpg");
}

.pokemon-card.type-grass {
    background-image: url("../assets/grass_wallpaper.jpg");
}

.pokemon-card.type-electric {
    background-image: url("../assets/electric_wallpaper.jpg");
}

.pokemon-card.type-water {
    background-image: url("../assets/water_wallpaper.jpg");
}

.pokemon-card.type-fire {
    background-image: url("../assets/fire_wallpaper.jpg");
}

.pokemon-card.type-normal {
    background-image: url("../assets/normal_wallpaper.jpg");
}